/* Avoinna osio */

.opentime_days {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr  1fr;
    /* width:100%; */
}
.opentime_day {
    
}

/* Yhteydenotto osio */
.grid-box {
    display:grid;
    grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 768px) {
    .grid-box {
        grid-template-columns: none;
    }
}
/* Yhteydenotto-lomake */
.simple-form {
    display: flex;
    flex-direction: column;
    gap:10px;
    margin:0 auto;
    width:min(100%,500px);
}
.simple-form > label {
    text-align: left;
    width:min(100%,800px);
    display: grid;
    grid-template-columns: 100px 1fr;
}
.form-buttons {
    display: grid;
    width:min(100%,500px);
    justify-items: end;
}
@media screen and (max-width: 992px) {
    
}
/* Palaute */
.rate {
    /* float: left; */
    height: 46px;
    width: fit-content;
}
.rate:not(:checked) > input {
    display: none;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.star:before {
    content: '★ ';
    font-size: 20px;
}
.checked {
    color: #ffc700;   
}
.feedback {
    text-align: left;
    display: flex;
    flex-direction: column;
    width:min(100%,800px);
    margin:0 auto;
}
.feedback > textarea {
    height:100px;
    
}