/* Yleiset tyylit */
body {
  font-family: 'Roboto', sans-serif;
  color: #844b1a;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}
a {
  text-decoration: none;
  /* color: #119BFF; */
  color: #2c5f83;
}
a:hover {
  text-decoration: underline;
}
header, nav, main, footer {
  padding: 10px;
  text-align: center;
}



/* Navigointipalkin tyylit */
nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

/* Sisältöalueen tyylit */
.content {
  background-color: #ffffff;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* .fling-minislide {width:350px; height:300px; overflow:hidden; position:relative; } */
.fling-minislide img{ position:absolute; left:0; animation:fling-minislide 15s infinite; opacity:0; width: 100%; height: 400px;object-fit: cover;}
.fling-minislide {width:100%; height:0px; padding-bottom: 400px; overflow:hidden; position:relative; }

@keyframes fling-minislide {0%{opacity:0;}50%{opacity: 1;}55%{opacity: 0;}}
.fling-minislide img:nth-child(2){animation-delay:0s;}
.fling-minislide img:nth-child(1){animation-delay:7.5s;}

.leaflet-container {
  width:100%;
  height: 300px;
}
.responsive-image-text-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-auto-rows: minmax(100px, auto); */
  padding-bottom:10px;
}

.image_container {
  grid-column:1;
  padding: 16px;
}
.image_container > img {
  width:90%;

}
.image_container > p {
  margin:0 5% 0 5%;
  text-align: left;
}
.text_container {
  /* width:100%; */
  grid-column:2;
  text-align: left;
}
@media (max-width: 768px) {
  .responsive-image-text-grid {
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
  }
  
  .image_container {
    grid-row:2;
    margin:10px 0;
    padding:0;
  }
  .image_container > img {
    width:100%;
  }
  .image_container > p {
    margin:10px 0;
  }
  .text_container {
    grid-column:1;
    grid-row:1;
  }
}
/* HTML: <div class="loader"></div> */
.loader {
  margin-left:20px;
  width: 10px;
  height: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
    0%  {box-shadow: 15px 0 #000, -15px 0 #0002;background: #000 }
    33% {box-shadow: 15px 0 #000, -15px 0 #0002;background: #0002}
    66% {box-shadow: 15px 0 #0002,-15px 0 #000; background: #0002}
    100%{box-shadow: 15px 0 #0002,-15px 0 #000; background: #000 }
}

footer {
  font-size: 0.8em;
}

#drinks {
  text-align: left;
}
#drinks > h2 {
  float:left;
  width:min-content;
  white-space:unset;
}
.button_container {
  position: absolute;
  left:-20px;
  display: grid;
  float:left;
  height:28px;
  margin: 19.92px 0 19.92px;
  width:100%;
  justify-items: right;
}
.clear {
  clear: both;
}

/* Products */

.products {
  display:grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  text-align:left;
  gap:10px;
}
.product {
  display:grid;
  grid-template-columns: 1fr 1fr;
  padding:6px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.left > h3  {
  margin: 0 10px 0 0;
}
.right > img {
  width:100px;
}