:root {
    --illustration-body-bg-color: #4b6584;
    --illustration-body-color: #d1d8e0;
  }
  
  #loading > *,
  #loading > *::before,
  #loading > *::after {
    box-sizing: border-box;
  }
  
  #loading {
    padding: 2em;
    min-height: 100vh;
    display: grid;
    place-items: center;
  }
  #loading > svg {
    fill: currentColor;
    max-width: 100%;
    vertical-align: baseline;
  }
  
  
  
  #drawable-illustration path:not([fill="none"]) {
    fill: transparent;
    stroke-width: 0.25;
    stroke: currentColor;
    animation: draw 2s forwards 1;
  }
  
  #drawable-illustration path:nth-child(1) {
    stroke-dasharray: 61.9942626953125;
    stroke-dashoffset: 61.9942626953125;
  }
  
  #drawable-illustration path:nth-child(2) {
    stroke-dasharray: 18.852230072021484;
    stroke-dashoffset: 18.852230072021484;
  }
  
  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }